.main{
    height: 100vh;
    width: 100%;
    position:absolute;
    
}

.url {
  height: 70%;
  background: #3F51B5;
 margin-bottom: 20px;
}

p{
  margin: 0;
  padding: 0;
}


.url > div {
  
    height: auto;
    text-align: center;
    margin: auto;
    position: relative;
    top: 100px;
    box-sizing: border-box;  
}


.url > .welcome_note {
  margin-top : 70px; 
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: 1%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
} 
.url > .welcome_note > img {
  width: 100%;
  height: 100%;
}

.wlcm_text {
    font-size: 50px;
    font-weight: 350;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.wlcm_text + div {
  margin: auto;
  min-height: 70px;
  max-width: 400px;
  background: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.wlcm_text + div > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


@media (max-width: 600px) {
  .url > .welcome_note {
    margin-bottom: 50%;
   max-height: 50%;
   width: 350px;
  } 

  .url > div {
    margin: 10px;
    height: auto;
    padding: 40px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 100px;
    box-sizing: border-box;  
}
}